.fullyear {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;

    .years {
        width: 72vw;
        margin: 0 auto $text auto;
        display: grid;
        grid-template-columns: 10vw auto 10vw;
        justify-content: space-between;

        .hide {
            visibility: hidden;
        }

        p {
            margin: auto;
            font-size: $text*.8;
            padding: $text*.2;

            border: 1px solid rgb(98, 173, 173) {
                radius: 50%;
            }

            color: rgb(98, 173, 173);
            text-align: center;
            @include center(flex, column, center);
            cursor: pointer;
        }

        .namediary {
            font-size: $text*1;
            cursor: pointer;
        }

        .head {
            font-size: $text*1.5;
            color: black;
            @include center(flex, column, center);
            cursor: pointer;
        }
    }

    .board1 {

        margin: 0 auto;
        @include center(flex, column, start);

        .mboard {
            margin: 0 auto;
            width: 90vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .diary0 {
                margin: 0 auto;
                padding: 2vw auto;
                width: 50vw;
                flex: .8;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .monthname {
                    margin: 1.3vw 0 0vw 0;
                    padding: 0vw;
                    font-size: $text*1.3;
                }

                .diary {
                    flex: 1;

                    .namediary {
                        margin: 1vw 1vw 1.5vw 1vw;
                        font-family: 'Dancing Script', cursive;
                        font-weight: 300;
                        font-size: 1.3vw;
                    }

                    hr {
                        margin: 0 1vw;
                        border: .1px solid black;
                    }

                    .texty,
                    .textm {
                        font-family: 'Dancing Script', cursive;
                        font-weight: 100;
                        font-size: 1vw;
                        margin: 3vw 1vw 1vw 1vw;
                        padding: 1vw;
                        border: 1px solid rgb(98, 173, 173);
                        height: 23vw;
                        overflow: scroll;
                        text-align: start;

                        p {
                            font-family: inherit;
                            font-weight: 100;
                            font-size: 1vw;
                            margin: .3vw auto;


                            u {
                                font-family: inherit;
                                font-weight: 200;
                                font-size: 1.1vw;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }

            .monthboard {
                margin: 0 auto;
                padding: $text;

                .fullmonth {
                    @include center(flex, row, space-around);
                    margin: auto;

                    p {
                        cursor: pointer;
                    }

                    .monthname {
                        font-size: $text*1.5;
                        flex: 1;
                    }

                    .prevm,
                    .nextm {
                        width: $text*2.5;
                        height: $text*2.5;
                        font-size: $text;
                        color: rgb(98, 173, 173);
                        padding: $text*.1;
                        @include center(flex, column, center);

                        .hide {
                            visibility: hidden;
                        }
                    }
                }

                .center {
                    font-size: $text*1.3;
                }

                .week1 {
                    font-size: $text;
                    @include grid7;
                }

                hr {
                    border: .1px solid black;
                }

                .month {
                    @include grid7;
                    cursor: pointer;
                }

                .day1 {
                    font-size: $text;
                    font-weight: 300;
                    margin: $text;
                    padding: $text;
                    @include center(flex, column, space-around);

                    border: 1px solid transparent {
                        radius: 50%;
                    }

                    background-color: rgba(169, 169, 169, 0.651);
                    color: rgb(98, 173, 173);
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background-color: transparent;
                    }
                }

                .red {
                    background-color: rgb(126, 98, 104);
                    color: #ffff;
                }

            }


        }

        .tomonth {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .board {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            .monthboard {
                margin: 0 auto;
                padding: $text;

                .fullmonth {
                    @include center(flex, row, space-around);
                    margin: auto;

                    .hide {
                        visibility: hidden;
                    }

                    p {
                        cursor: pointer;
                    }

                    .monthname {
                        font-size: $text*1.5;
                    }

                    .prevm,
                    .nextm {
                        width: $text*2.5;
                        height: $text*2.5;
                        font-size: $text;
                        padding: $text*.1;

                        border: 1px solid grey {
                            radius: 50%
                        }

                        @include center(flex, column, center);
                    }
                }

                .week {
                    font-size: $text*.6;
                    @include grid7;
                }

                hr {
                    border: .1px solid black;
                }

                .month {
                    @include grid7;
                    cursor: pointer;

                    .day {
                        font-size: $text*.7;
                        margin: $text*.2;
                        padding: $text*.3;

                        border: 1px solid transparent {
                            radius: 50%;
                        }

                        @include center(flex, column, space-around);
                        background-color: rgba(169, 169, 169, 0.651);
                        color: black;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            background-color: transparent;
                            color: black;
                        }
                    }

                    .red {
                        background-color: rgb(126, 98, 104);
                        color: #ffff;
                    }

                }

            }
        }
    }
}