* {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 400;
}

*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid transparent;
}

.calendar {
    margin: 2vw auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    place-items: center center;

    .year {
        margin: auto;
        padding: auto;
        width: 4vw;
        height: 4vw;

        border: 1px solid #ffff {
            radius: 50%;
        }

        text-align: center;
        @include center(flex, column, space-around);
        background-color: rgb(165, 163, 158);
        cursor: pointer;



        &:hover {
            background-color: transparent;
        }

        p {
            font-size: $text;
            color: #ffff;
        }
    }

    .child {
        background-color: rgb(226, 225, 226);

        p {
            color: #000;
        }
    }

    .youth {
        background-color: rgb(202, 202, 198);

        p {
            color: #000;
        }
    }

    .active {
        background-color: rgb(169, 170, 168);

        p {
            color: #000;
        }
    }

    .travel {
        background-color: rgb(155, 143, 143);

        p {
            color: #000;
        }
    }

    .wisdom {
        background-color: rgb(114, 112, 112);

        p {
            color: #000;
        }
    }

    .red {
        background-color: rgb(126, 98, 104);
        color: #ffff;
    }
}