#blank {
    width: 80vw;
    height: 20vw;
    margin: 2vw auto;
    background-color: transparent;
    border: 1px solid lightgrey;
    font-size: 2vw;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    color: black;
    ;
}

.title {
    margin: 2vw auto 0 auto;

}

.tomonth {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.today {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    color: black;
}